

<br>
<br>
<p>
	<b>fill Applicant personal details</b>
</p>
<br>
<form class="search2">

	<label colspan="2" style="float: left;">Applicant-ID:</label>
	<div>
		<input type="text" class="form-control"
			placeholder="please Enter Applicant id" id="asi1"></input>
	</div>
	<label style="float: left;">Applicant-First-Name:</label>
	<div>
		<input type="text" class="form-control "
			placeholder="please Enter Applicant Name" id="asi3"
			required="required"></input>
	</div>
	<label style="float: left;">Applicant-Last-Name:</label>
	<div>
		<input type="text" class="form-control"
			placeholder="please Enter Applicant Name" id="asi2"
			required="required"></input>
	</div>
	<label style="float: left;">Applicant-Phone:</label>
	<div>
		<input type="text" class="form-control"
			placeholder="please Enter Applicant Phone" id="asi4"
			required="required"></input>
	</div>
	<label style="float: left;">Applicant-Email:</label>
	<div>
		<input type="text" class="form-control"
			placeholder="please Enter Applicant Phone" id="asi5"
			required="required"></input>
	</div>
	<br> <label style="float: left;">Choose-Yearsofexperience:</label>
	<div style="width: 25%;">
		<input min="0" max="50" type="number" class="form-control"
			placeholder=" Yearsofexperience" id="asi6" required="required"></input>
	</div>




	<br>
	<br>
	<div>

		<table>
			<tr>
				<td>
					<h4>Conect applicant to Skill</h4>
				</td>

			</tr>
			<tr>
				<td><div>
						<p>Choose Skill</p>

						<input name='ddSelectedItemText' id='skils_select' /> <br>
						<br>
						<button ng-click="createapplicant()">create applicant</button>
						<br>
						<br>
					</div></td>

				<td></td>
			</tr>
			<tr>
				<td>
					<div style="padding-left: 72%;"></div>
				</td>
			</tr>

		</table>
	</div>

</form>


<div>
	<form method="POST" action="upload" enctype="multipart/form-data">
		<h4>attach applicant's cv after create</h4>
		<br> Choose cv: <input type="file" id="file2" name="file"
			multiple> <br /> <input type="text" placeholder="please"
			name="asi" id="asi" required="required" /> <br /> <input
			type="submit" value="Upload" name="upload" id="upload">Submit
	</form>

	<br>
	<br>
</div>


<div class="modal fade" id="myModal2" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">interview summary</h4>
			</div>
			<div class="modal-body">

				<p>
					<b>Add interview summary</b>
				</p>
				<br>
				<form>
					<div>
						<textarea name="textarea" style="width: 500px; height: 300px;"></textarea>
					</div>
				</form>
				<div style="padding-left: 90%;">
					<button style="float: right:;" type="button" class="btn btn-info"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>

	</div>
</div>



<div style="float: right;">
	<form>


		<div>
			<p>Choose Job</p>
			<select ng-model="jobid">
				<option value="{{x.id}}" ng-repeat="x in jobs">{{x.name}}</option>
			</select> <br>
			<br>
		</div>


		<div>
			<p>Choose Applicant</p>
			<select ng-model="applicantid">
				<option value="{{x.id}}" ng-repeat="x in applicants">{{x.firstname}}&nbsp;{{x.lastname}}</option>
			</select> <br>
			<br>
			<button ng-click="associate()">create Job Applicant</button>

			<br>
			<br>
		</div>



	</form>



	<form>
		<div id="recrut">

			<button style="float: right;" ng-click="publish()">Publish</button>
		</div>
	</form>

</div>
